@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap");
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-size: 1.1em; }

header img {
  width: 3%;
  height: 3%;
  margin: 0 1%; }
